.UnlockContentHintContainer__UnlockHintContainer-wnw6kt-1 {
	display: none;
}

.ContentArea__GradientContainer-sc-1ejeily-18 {
	display: none;
}

.ContentArea__GradientContainer-sc-1ejeily-11 {
	display: none;
}

.dTWSNM {
	all: unset;
}

.jglFuj {
	all: unset;
}

.laaXTo {
  all: unset;
}

.cZluup {
    cursor: pointer;
	color: #000; 
}
.ibhxGd {
    cursor: pointer;
}
.ibhxGd span{
	color: #000;
}
